.App {
  text-align: center;
  direction: rtl;
}

.search{
  margin-top:1%;
  margin-bottom:1%;
  display:flex;
  justify-content:space-evenly;

}


#top{
  margin: 20%;
  color: black;
}


.changePrice{
  display:flex;
  flex-direction: row;
  justify-content: center;
}


.discount{
  background-color: red;
  font-size: small;
}


.updateButton{
  background-color: red;
}